<div *ngIf="loading" class="page-loader"><div class="spinner"></div></div>

<ng-container *ngIf="!loading && project">
  <div class="page-header">
    <h2 class="page-section-title">Scientific Merit</h2>
    <div class="header-divider"></div>
  </div>

  <div class="content-container" *ngIf="nonEmptyParagraphs(project.content.scientificMerit.paragraphs).length">
    <div
      class="rich-paragraph"
      *ngFor="let para of nonEmptyParagraphs(project.content.scientificMerit.paragraphs)"
      [innerHTML]="para.content | safeHtml"
    ></div>
  </div>

  <div class="empty-state" *ngIf="!nonEmptyParagraphs(project.content.scientificMerit.paragraphs).length">
    <i class='bx bx-file-blank'></i>
    <p>There is no data.</p>
  </div>
</ng-container>
