.body {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: rgba(219, 219, 219, 0.273);
  .images-center,
  .images-left,
  .images-right {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .center-text {
    text-align: center;
  }

  .lighter-text {
    font-size: 14px;
    color: #888;
  }
  



  .card {
    text-align: center;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card img {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 8px 8px 0 0;
  }
  /*seperator*/
  hr {
    width: 100%;
    height: 2px;
    background-color: black; 
    margin: 20px 0;
  }
}

.button-center {
  text-align: center;
  margin-bottom: 5%;
}
.container {
  width: 900px;
  height: 450px;
}

.container2 {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-left: 10%;
  margin-right: 10%;
}
.containers{
  background-color: rgba(197, 243, 255, 0.273);
}
.text-section1 {
  flex: 1;
  text-align: left;
  margin-right: 3%;
}
.text-section1>h1{
  font-size: 2.5rem;
  margin-bottom: 50px;
  margin-top: 20px;
  font-weight: bold;
}
.text-section2>h1{
  font-size: 2.5rem;
  margin-bottom: 50px;
  margin-top: 20px;
  font-weight: bold;
}
.text-section2 {
  flex: 1;
  text-align: left;
  margin-left: 3%;
}
.image {
  flex: 1;
  border-radius: 10px;
  max-width: 40%;
  margin-top: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
