<app-navbar></app-navbar>

<div class="center-container">
    <h1 class="centered-heading">IMAS-ICHKEUL</h1>
    <h3 class="centered-subheading">Objectives</h3>
</div>

<div class="center-container2" @fadeIn>
    <div class="text-container">
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        The main keys for sustainable development in Ichkeul region is the 
        management of water budget in the Lake. Controlling the water level 
        in the Lake will help to safeguard biodiversity in this ecosystem 
        well known by its high biodiversity and promote a sustainable development 
        (fishery and tourism).
        <br><br>
        The General objective of IMAS-Ichkeul is to develop an advanced class 
        of integrated models and decision support tools based on biophysical 
        and socio-economic drivers processes and policy integration related to 
        biodiversity and ecosystem functioning.
        <br><br>
        The specific objective of IMAS-Ichkeul project is to manage the water 
        budget in the Lake based on numerical approach and knowledge based on 
        measurement thought the development of a new toolkit encompassing:
        <br><br>
        • A remote sensing and GIS data base needed for both models.        
        <br><br>
        •The newest version of SWAT model to provide the river inputs into the Lake.
        <br><br>
        • A one-dimensional hydrodynamic model to simulate the exchange of water between 
        the Ichkeul Lake and Bizerte Lagoon.
        <br><br>
        • The Land Ocean Interactions Coastal Zone (LOICZ).
    </div>
</div>

<app-footer></app-footer>