<app-navbar2></app-navbar2>

<div style="margin-top: 10%;"></div>

<div class="center-container">
    <h1 class="centered-heading">DATA PROVIDERS</h1>
</div>

<div class="card-container">
    <div class="card" *ngFor="let card of cards">
        <div class="card-header"></div> 
        <div class="image-container">
            <div class="circle-bg"></div>
            <img [src]="card.image" alt="Image" class="card-image" />
        </div>
        <div class="card-body">
            <h3 class="card-title">{{ card.name }}</h3>
            <p class="card-text">{{ card.text }}</p>
        </div>
    </div>
</div>
<div style="margin-bottom: 15%;"></div>
<app-upbutton></app-upbutton>
<app-footer></app-footer>
