<app-navbar></app-navbar>


<div class="center-container">
    <h1 class="centered-heading">IMAS-ICHKEUL</h1>
    <h3 class="centered-subheading">Events</h3>
</div>

<div class="container">
    <div class="course">
        <div class="preview">
            <h2>22 <br>NOV 2020</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow"></div>
            <h6> <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            Friday <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            9:00 AM - 3:30 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;"> 
            INSTM</h6>
            <h2>OFFICIAL LAUNCH OF THE PROJECT</h2>
            <p class="p-trunc">Presenting the working methodology and discussing it with all patterns.</p>
        </div>
    </div>
    
    <!-- ************************************************************ -->
    <div class="course" style="margin-top: 20px;">
        <div class="preview">
            <h2>09<br> DEC 2020</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow" style="background-color:#e40046"></div>
            <h6><img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                 Tuesday <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                 5:00 PM - 7:00 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;">
                 Online</h6>
            <h2>Operations Meeting</h2>
            <p class="p-trunc">Meeting of the steering committee to discuss the progress of the various
                activities of the project as
                well as the future plans for the work, with the participation of the main partners of the project, Pr.
                Hamidreza Norouzi and Pr. Reginald A. Blake from the New York College of Technology, USA.
                Each partner&#39;s representative provided a short presentation on the work in progress. At the end of
                the meeting, the discussion included an additional topical point on Sustainable Development: it
                incorporated an evaluation of pertinent targets and suggestions related to the achievement of
                Sustainable Development Goals for the study area.</p>
        </div>
    </div>
    <!-- ************************************************************ -->
    <div class="course" style="margin-top: 20px;">
        <div class="preview">
            <h2>23<br> JUN 2021</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow" style="background-color:#e40046"></div>
            <h6> <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                Tuesday  <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                5:00 PM - 7:00 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;">
                Online</h6>
            <h2>OPERATIONS MEETING</h2>
            <p class="p-trunc">The process of the work on the project.</p>
        </div>
    </div>
    <!-- ************************************************************ -->
    <div class="course" style="margin-top: 20px;">
        <div class="preview">
            <h2>21 <br> OCT 2021</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow"></div>
            <h6> <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                Thursday <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                9:00 AM - 15:00 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;">
                INSTM</h6>
            <h2>Workshop</h2>
            <p class="p-trunc">Several presentations were given during this
                 workshop to provide a substantive and policy analysis
                of the area&#39;s climate change adaptation and mitigation measures. Furthermore, at the end of the
                meeting, the discussion included an additional topical point on the development of the database,
                data collection, and data sharing with the company.</p>
        </div>
    </div>
    <!-- ************************************************************ -->
    <div class="course" style="margin-top: 20px;">
        <div class="preview">
            <h2>29<br> JUN 2022</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow" style="background-color:#e40046"></div>
            <h6> <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                Wednesday  <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
                9:00 PM - 17:00 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;">
                Hotel in Tunisia (Carthage Thalasso Resort)</h6>
            <h2>Workshop: OFFICIAL KICK-OFF OF THE PROJECT</h2>
            <p class="p-trunc">Two goals: hosting the USG-supported partners, Pr. Hamidreza Norouzi (online) 
                and Ms. Kelly
                Robins from NAS with the presence of the General Director of the INSTM and the Minister of the
                MARH, and presenting the progress of the work on the project.</p>
        </div>
    </div>
    <!-- ************************************************************ -->
    <div class="course" style="margin-top: 20px;">
        <div class="preview">
            <h2>01<br> JUL 2022</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow"></div>
            <h6> <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            Friday <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            9:00 AM - 15:00 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;"> 
            Ichkeul</h6>
            <h2>Workshop: OFFICIAL KICK-OFF OF THE PROJECT</h2>
            <p class="p-trunc">Visit to Lake Ichkeul by the Tunisian partners and the NAS partner, Mrs Kelly Robins, to assess the
                lake&#39;s situation.</p>
        </div>
    </div>
    <!-- ************************************************************ -->
    <div class="course" style="margin-top: 20px;">
        <div class="preview">
            <h2>06<br> JUN 2023</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow"></div>
            <h6> <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            Thursday <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            9:00 AM - 15:00 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;"> 
            The City of Culture Tunis</h6>
            <h2>International Conference &quot;Sustainable Water Resources Management under Climate Change&quot;</h2>
            <p class="p-trunc">Hard-hitting presentations covering various aspects of sustainable water resource management
                influenced by climate change were given by Professor Hamidreza Norouzi, Reginald Blake and Amir
                Aghakouchak.</p>
        </div>
    </div>
    <!-- ************************************************************ -->
    <div class="course" style="margin-top: 20px;">
        <div class="preview">
            <h2>10<br> JUN 2023</h2>
        </div>
        <div class="info">
            <div class="circle-with-shadow"></div>
            <h6> <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            Saturday <img src="../../assets/svg/question-mark.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
            10:00 AM - 18:00 PM <img src="../../assets/svg/location.svg" style="width: 12px;padding-bottom: 3px;margin-left: 5px;"> 
            United States Agency for International Development (USAID)</h6>
            <h2>International Visit</h2>
            <p class="p-trunc">Dr. Béchir Béjaoui, and Dr. Sihem Benabdallah visited the US Agency for International
                Development (USAID), where they gave presentations on the complex relationships between
                climate change, adaptation, and migration measures.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>