<app-navbar></app-navbar>

<div class="center-container">
    <h1 class="centered-heading">IMAS-ICHKEUL</h1>
    <h3 class="centered-subheading">Scientific merit</h3>
</div>

<div class="center-container2" @fadeIn>
    <div class="text-container">
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        In northern Tunisia, near the shore of the Mediterranean Sea, 
        the Ichkeul Lake and its wetlands are among the most productive 
        ecosystems in Tunisia. It is an important stopping area of migrating 
        birds (Ramsar, 2012). Concurrently, it is ecologically a sensitive 
        environment exhibiting enormous diversity due to its geographical location, 
        hydrology, biodiversity ecological international interest with eels migration 
        between Ichkeul and Sargasso Sea.
        <br><br>
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        A series of dams were built on rivers flowing into the lake. The decrease 
        of freshwater supply into the lake derived from winter rainfall allowing 
        for a greater flow back of water from the sea has affected the main fishing 
        activity by decreasing the eel stock. During the dry season, the water level 
        falls to 30 cm in depth while the salinity increases significantly, with high 
        sedimentation of the channel between the Ichkeul Lake and the Bizerte lagoon. 
        This influences the recruitment of the Juveniles and eels inside the lake. 
        The fish production has decreased from 110 tons in 2007 to 43 tons in 2011 
        (DGPA, 2017). In addition, the decrease of water level has affected the food 
        needed for the migratory birds in the area.
        <br><br>
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        Further, the Ichkeul lake is highly exposed to the climate change.
        <br><br>
        These problematics issues clearly call for careful investigation and the 
        development of decision tools. Thus, this IMAS-Ichkeul proposal is focused 
        on water management in the Ichkeul region. Interrelationships among constraints 
        related to water and to the supporting ecosystems will be investigated under 
        conditions of global climate, anthropogenic activity in the catchment area and 
        socioeconomic change in order to provide socially and environmentally sustainable 
        growth. Changes in governance and joint implementation by public and private sectors 
        shall enable trans-cooperation, triggered by social learning of the risks and the 
        associated opportunities.
        <br><br>
        A new methodological frame for the quantitative and participatory exploration 
        and assessment of integrated water resources management strategies will be 
        established. With an investigation of environmental processes affecting the 
        ecosystem equilibrium. An advanced class of integrated models and support tools 
        for decision making will be developed. We will consider biophysical and socio-economic 
        drivers and governance integration for the management of the Ichkeul Lake. The main theme 
        for the integrated scientific analysis follows these specific objectives:
        <br><br>
        • Increase the understanding of the interactions among variables.
        <br><br>
        • Development of models, covering relevant socioeconomic and ecosystem 
        processes, consistent with global climate and constraints to provide information for decision-making.
        <br><br>
        • Stakeholder engagement.
    </div>
</div>

<app-footer></app-footer>