<div class="custom-dialog">
    <h2>Add project group</h2>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <div class="form-group">
            <label for="group">New Project Group Name<span>*</span></label>
            <input type="text" id="group" name="group" [(ngModel)]="projectFormData.title" required>
            <div *ngIf="projectForm.submitted && !projectForm.controls['group'].valid" class="error">
                Project group name is required.
            </div>
        </div>
        <div class="form-group">
            <label for="existingGroups">Existing Project Groups</label>
            <ul>
                <li *ngFor="let title of projectGroupTitles" class="project-group-item">
                    <span class="title">* {{ title }}</span>
                    <div class="buttons">
                        <!-- <button type="button" (click)="onUpdate(title)" class="update-button">
                            <mat-icon>edit</mat-icon>
                        </button> -->

                        <!-- <button type="button" (click)="onDelete(title)" class="delete-button">
                            <mat-icon>delete</mat-icon>
                        </button> -->
                        
                        <button type="button" (click)="onDelete(title)" class="delete-button">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="save-button">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
