<div class="hero-carousel">
  <div class="carousel-container">
    <div class="slide" *ngFor="let item of items; let i = index" [class.active]="i === itemActive">
      <div class="slide-background" [style.background-image]="'url(' + item.img + ')'"></div>
      <div class="slide-overlay"></div>
      <div class="slide-content">
        <div class="content-wrapper">
          <h1 class="slide-title">{{ item.title }}</h1>
          <p class="slide-description">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="carousel-controls">
    <div class="progress-lines">
      <div class="progress-line" 
           *ngFor="let line of progressLinesArray; let i = index" 
           [class.filled]="i === itemActive"
           [class.current]="i === itemActive"
           (click)="setActive(i)">
      </div>
    </div>
  </div>
</div>

