<div class="slider">
    <div class="list">
        <div class="item" *ngFor="let item of items; let i = index" [class.active]="i === itemActive">
            <img [src]="item.img" alt="" loading="lazy" decoding="async">
            <div class="content">
                <p></p>
                <h2>{{item.title}}</h2>
                <p class="text">{{item.description}}</p>
            </div>
        </div>
    </div>
    <div class="thumbnail">
        <div class="item" *ngFor="let thumbnail of thumbnails; let i = index" [class.active]="i === itemActive" (click)="setActive(i)">
            <img [src]="thumbnail.img" alt="" loading="lazy" decoding="async">
            <div class="content">{{thumbnail.title}}</div>
        </div>
    </div>
    <div class="dots" role="tablist" aria-label="Slide navigation">
        <button
            *ngFor="let _ of items; let i = index"
            class="dot"
            [class.active]="i === itemActive"
            (click)="setActive(i)"
            [attr.aria-selected]="i === itemActive"
            [attr.aria-label]="'Go to slide ' + (i + 1)"
        ></button>
    </div>
</div>

