<app-navbar></app-navbar>

<div class="center-container">
    <h1 class="centered-heading">Gallery</h1>
    <h3 class="centered-subheading">Ichkeul</h3>
</div>

<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="../../assets/images/gallery/img1.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img2.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img3.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img4.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img5.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img6.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img7.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img8.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img9.jpg">
        </div>
        <div class="slide">
            <img src="../../assets/images/gallery/img10.jpg">
        </div>
    </div>  
</div>


<app-footer></app-footer>