<app-navbar2></app-navbar2>

<div class="center-container">
    <h1 class="centered-heading">BASSIANA</h1>
    <h3 class="centered-subheading">Mission</h3>
</div>

<div class="center-container2" @fadeIn>
    <div class="text-container">
        Broadly, the main goals of BASSIANA Database are:
        <br><br>
        •Gather the data of different type of Marine and coastal ecosystems.
        <br><br>
        •Creating a centralized data repository for further use.
        <br><br>
        •Have a preliminary incite on the spatial and temporal variabilities of the ecosystem’s status applying statistical and numerical tools.
        <br><br>
        •Provide an updated and accessible data for policy makers, environmental managers, researchers, and marine ecosystem stakeholders.
    </div>
</div>
<app-upbutton></app-upbutton>
<app-footer></app-footer>