<app-navbar2></app-navbar2>

<div class="center-container">
    <h1 class="centered-heading">IMAS-ICHKEUL</h1>
    <h3 class="centered-subheading">Project's Partners</h3>
</div>

<div class="center-container2">
    <img src="assets/images/logo1pp.png">
    <img src="assets/images/logo2p.png">
</div>

<div class="center-text">
    <h3 class="centered-subheading">Project funded by</h3>
</div>

<div class="center-container2">
    <div style="margin-top:20px;margin-bottom:10px">
        NAS: The National Academy of Sciences
        <br><br>
        USAID: United States Agency for International Development, USA
        <br><br>
        AID-OAA-A-11-00012
    </div>
    <div class="image-container">
        <img src="assets/images/LOGOUSAID.png" alt="USAID Logo">
        <img src="assets/images/LOGONAS.png" alt="NAS Logo">
    </div>
</div>
<app-upbutton></app-upbutton>
<app-footer></app-footer>