.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 10vh;
    width: 100%;
  }
  .center-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 100%;
  }
  .centered-heading {
    font-size: 50px;
    font-weight: bold;
  }
  
  .centered-subheading {
    font-size: 30px;
    color: #959595;
    font-weight: bold;
  }
  /*****************************************************/

  .center-container2 {
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin: 10px auto;
  }
  


  
    /*****************************************************/

    @media(max-width: 768px){
        .center-container2{
            margin: 20px;
        }
    }
    /*****************************************************/

    
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add some space between the images */
}

.image-container img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .image-container {
    flex-direction: column;
  }
}