.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    margin-bottom: 10vh;
    width: 100%;
  }
  
  .centered-heading {
    font-size: 50px;
    font-weight: bold;
  }
  
  .centered-subheading {
    font-size: 30px;
    color: #959595;
    font-weight: bold;
  }
  /*****************************************************/

  .center-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  
  .text-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: start;
    font-weight: 600;
  }

  
    /*****************************************************/

    @media(max-width: 768px){
        .center-container2{
            margin: 20px;
        }
    }