<app-navbar></app-navbar>

<div class="center-container">
    <h1 class="centered-heading">BASSIANA</h1>
    <h3 class="centered-subheading">About Bassiana</h3>
</div>

<div class="center-container2" @fadeIn>
    <div class="text-container">
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        In order to understanding how ecosystems respond to change at local,
        regional, and global scales, it is crucial to manage sustainably the ecosystems,
        govern the services they provide, and assess the socio-environmental implications for future development.
        In this context, the BASSIANA Marine Ecosystems DB was created to better understand and follow the changes
        occurring in ecosystems.
        <br><br>
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        The BASSIANA Ecosystems Database is created in 2020 as an effort to collect
        Long-Term data and centralize the information related to the marine ecosystems in general.
        <br><br>
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        BASSIANA Ecosystems Database was funded by the United States
        Agency for Development (USAID, USA) in the frame of the IMAS-Ichkeul project
        (AID-OAA-A-11-00012), managed by National Academy of Sciences, under the Partnerships
        for Enhanced Engagement in Research (PEER), Cycle 8 program & coordinated by the National
        Institute of Marine Sciences and Technologies, INSTM, Tunisia.
        <br><br>
        <img src="../../assets/svg/planet.svg" style="width: 12px;padding-bottom: 3px;margin-right: 5px;">
        The Ecosystems Database provides a structure gathering vast amounts of high-quality data with
        efficient access. It holds over 50 environmental parameters (Biological, Chemical, Physical,
        Physico-chemical, Sedimentological and Fishery data). The data concern freshwater and marine
        ecosystems such as streams, rivers, lakes, and lagoons. These different data are provided from
        several national and international projects and initiatives.
    </div>
</div>

<app-footer></app-footer>