<ul class="wrapper">
  <li class="icon facebook">
    <span class="tooltip">Facebook</span>
    <a href="https://www.facebook.com/IMASIchkeul/" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
      <span><i class="fab fa-facebook-f"></i></span>
    </a>
  </li>
  <li class="icon twitter">
    <span class="tooltip">Twitter</span>
    <a href="https://twitter.com/USAID" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
      <span><i class="fab fa-twitter"></i></span>
    </a>
  </li>
</ul>
