<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
  <ul class="wrapper">
    <li class="icon facebook">
      <span class="tooltip">Facebook</span>
      <a href="https://www.facebook.com/IMASIchkeul/">
        <span><i class="fab fa-facebook-f"></i></span>
      </a>
    </li>
    <li class="icon twitter">
      <span class="tooltip" >Twitter</span>
      <a href="https://twitter.com/USAID">
      <span><i class="fab fa-twitter"></i></span>
      </a>
    </li>
  </ul>
</body>
</html>
