.page-section{
    margin-top: 30vh;
}
.section-heading {
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}

.mx-auto {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds shadow */
    border: 2px solid #ddd; /* Adds a light border */
    border-radius: 50%; /* Makes the border circular */
    padding: 10px; /* Adds space between the image and the border */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
.col-lg-4{
    margin-bottom: 10vh;
}
  