<app-navbar></app-navbar>

<section class="page-section" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Legal Entity Appointed Representativ</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/hem.jfif" alt="" />
                    <h4>Hechmi Missaoui</h4>
                    <p class="text-muted">General Director</p>
                    <p class="text-muted"> <br></p>

                </div>
            </div>
        </div>




        <div class="text-center">
            <h2 class="section-heading text-uppercase">Project Investigators</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6" style="margin-right: -30px;">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/bb.jpg" alt="" width="200" height="auto" />
                    <a data-toggle="modal" href="#modal" style="color: black">
                        <h4>Béchir Béjaoui</h4>
                    </a>
                    <p class="text-muted">Project Coordinator</p>
                    <p class="text-muted">National Institute of Marine Sciences and Technologies</p>
                </div>
            </div>
            



            <div class="col-lg-6">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/sa.png" alt="" width="200" height="auto" />
                    <h4>Sihem Benabdallah</h4>
                    <p class="text-muted">Team member</p>
                    <p class="text-muted">Water Research and Technology Center</p>

                </div>
            </div>
        </div>


        <div class="text-center">
            <h2 class="section-heading text-uppercase">Supporters</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/hn.jpg" alt="" width="200" height="250px"/>
                    <h4>Hamidreza Norouzi</h4>

                    <p class="text-muted">Professor and Director of Undergraduate Research, New York City College of
                        Technology</p>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/bl.jpg" alt="" width="200" height="250px"/>
                    <h4>Reginald A. Blake</h4>

                    <p class="text-muted">Professor, New York City College of Technology</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/kr.png" alt="" width="200" height="250px"/>
                    <h4>Kelly Robbins</h4>
                    <p class="text-muted">Senior Program Officer, The National Academies of Sciences</p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <h2 class="section-heading text-uppercase">Collaborators</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/nbm.png" alt=""
                        style="height: 200px; width: 200px" />
                    <h4>Nabiha Ben Mbarek</h4>
                    <p class="text-muted">National Agency for Environmental Protection</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/rt.png" alt=""
                        style="height: 200px; width: 200px" />
                    <h4>Rachid Toujani</h4>
                    <p class="text-muted">National Institute of Marine Sciences and Technologies</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" alt="" src="../../assets/team/nz.png"
                        style="height: 200px; width: 200px" />
                    <h4>Noureddine Zaaboub</h4>
                    <p class="text-muted">National Institute of Marine Sciences and Technologies</p>

                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/af.png" alt=""
                        style="height: 200px; width: 200px" />
                    <h4>Afef Fathali</h4>
                    <p class="text-muted">National Institute of Marine Sciences and Technologies</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/db.png" alt=""
                        style="height: 200px; width: 200px" />
                    <h4>Dorra Baccouche</h4>
                    <p class="text-muted">National Institute of Marine Sciences and Technologies</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/ja.png" alt=""
                        style="height: 200px; width: 200px" />
                    <h4>Jalel Aouissi</h4>
                    <p class="text-muted">National Agronomic Institute of Tunisia</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/mj.png" alt=""
                        style="height: 200px; width: 200px" />
                    <h4>Mekki Ben Jemaa</h4>
                    <p class="text-muted">University of Carthage</p>
                </div>
            </div>
        </div>

        <div class="text-center">
            <h2 class="section-heading text-uppercase">Admins</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/bb.jpg" alt="" width="200" height="auto"/>
                    <a data-toggle="modal" href="#modal" style="color: black">
                        <h4>Béchir Béjaoui</h4>
                    </a>
                    <p class="text-muted">Project Coordinator</p>

                </div>
            </div>



            <div class="col-lg-6">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" src="../../assets/team/h.jpg" alt="" width="200" height="auto"/>
                    <h4>Houaïda Bouali</h4>
                    <p class="text-muted">Hydraulic Engineer</p>

                </div>
            </div>
        </div>

        <div class="text-center">
            <h2 class="section-heading text-uppercase">Developpers</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" alt="" src="../../assets/team/0.jpg"
                        style="height: 200px; width: 200px" />
                    <h4>Hatem Salem</h4>
                    <p class="text-muted">Hydraulic Engineer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" alt="" src="../../assets/team/jf.jpg"
                        style="height: 200px; width: 200px" />
                    <h4>Jasser Fetoui</h4>
                    <p class="text-muted">Big Data Engineer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" alt="" src="../../assets/team/aw.jpg"
                        style="height: 200px; width: 200px" />
                    <h4>Ala Din Weslati</h4>
                    <p class="text-muted">DATA Sciences Engineer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle" alt="" src="../../assets/team/aziz.jpg" style="height: 200px; width: 200px;" />
                    <h4>Mohamed Aziz Bjaoui</h4>
                    <p class="text-muted">DATA Sciences Engineer</p>
                </div>
            </div>

        </div>
    </div>
</section>

<app-footer></app-footer>